  
{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <br>
    <h4>This page is made by-Shivam Yadav</h4>
     <br>
    <h4>College-</h4><a href="http://adgitmdelhi.ac.in/"><h4>Akhilesh Das Gupta Intitute of Technology</h4></a>
    <br>
    <h4>School-</h4><a href="http://davdayanandvihar.net/"><h4>S.R.D.A.V Public School Dayanand Vihar</h4></a>
    <br>
    
<h4>A Web based application using Flask as framework for reading and
posting technology specific blogs. User account management using Bycrypt, Profile Page, Profile Management, Post Managements, Login-Session Management and
Password Resetting by using time sensitive encrypted tokens send
to your email-id. Using machine learning detecting spams before one can even
upload it. Providing various other features like displaying latest news, Recent value of bitcoins and share market updates.  </h4>



{% endblock content %}